.cookie-consent {
	background: #000;
	bottom: 0;
	display: none;
	color: #fff;
	font-size: 100%;
	opacity: 0.75;
	padding: 10px;
	position: fixed;
	left: 0;
	width: 100%;
}

.cookie-consent button.close {
	font-size: 100%;
	font-weight: normal;
	margin-top: 3px;
	opacity: 0.75;
	text-shadow: none;
}

.cookie-consent button.close:hover {
	opacity: 0.9;
}

.cookie-consent .dismiss {
	color: #fff;
	font-size: 100%;
	text-transform: uppercase;
}
